@model HSS.Models.Customer

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Add a reservation</h2> <br />


@if (ViewBag.Number == 0)
{
    <div id="form_error">@ViewBag.Message</div> <br />
}
else
{
    <div id="form_accept">@ViewBag.Message</div> <br />
}
<div id="form">
    @using (Html.BeginForm("Add", "AddReservation"))
    {
        @Html.EditorFor(m => m)
        <br />
        <input type="submit" value="Add" />
    }
</div>
