@{ 
    ViewBag.Title = "Hotel System Service";
}

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent leo enim, tempus at arcu nec, facilisis laoreet elit. Aenean hendrerit sapien ut cursus maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id volutpat dolor, quis ultrices ligula. Ut non urna porta, fermentum enim faucibus, ultricies tortor. Nulla facilisi. Phasellus dignissim suscipit turpis at aliquam. Nullam ultricies porta metus, et ultricies dolor malesuada volutpat. Vestibulum ornare scelerisque dolor vel vulputate. Aenean a urna non ligula maximus iaculis quis sit amet nibh. Cras dapibus est ac lacus viverra, ut euismod diam finibus.

</div>
      

