@model HSS.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>


<div id="form_accept">The Reservation has been successfully deleted.</div> <br />

<div>
    @Html.ActionLink("Back to List", "Manage")
</div>