<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="logo">
            <a href="Index.html" class="menulink">
                Hotel System Service
            </a>
        </div>


        <div id="menu">
            <div class="option" style="border-top: 2px dashed #444444">
                <a href="link" class="menulink">
                    ● Add
                </a>
            </div>
            <div class="option">
                <a href="link" class="menulink">
                    ● Check
                </a>
            </div>
            <div class="option">
                <a href="link" class="menulink">
                    ● Show
                </a>
            </div>
            <div class="option">
                <a href="link" class="menulink">
                    ● Change
                </a>
            </div>
            <div class="option">
                <a href="link" class="menulink">
                    ● Delete
                </a>
            </div>

        </div>

            <div id="content">
                 @RenderBody()
            </div>

            <div id="footer">
                Copyright Kacper Paśnik <br />
                <a href="github.com/kacperpasnik">Github</a>
            </div>
    </div>
            @RenderSection("Scripts", required: false)
</body>
</html>